

    <main class="mainproductos">
       

 <header class="cabecera">
                <div class="logo">
                    <img src="./img/Logo 93x79.png" alt="logo banner web">
                </div>
            <nav class="navegacion">
                <a href="/" class="link">Inicio</a>
                <a href="/productos" class="link">Producto</a>
                <a href="/nosotros" class="link">Nosotros</a>
                <a href="/contacto" class="link">Contacto</a>
               
                <a href="/iniciarsecion" class="link">Configuración</a>
                </nav>
                </header>
                
    </main>





<body class="text-center">
    
<main class="form-signin w-50 m-auto">
  <form action="/iniciarsecion" method="post">
    <img class="iconoconfiguracion m-5" src="https://cdn-icons-png.flaticon.com/512/52/52046.png" alt=""> 
    <h1 class="h3 mb-3 fw-normal">Administrador</h1>

    <div class="form-floating m-5">
      <input type="text" class="form-control" id="user" name="user" >
      <label for="floatingInput">User</label>
    </div>
    <div class="form-floating m-5">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="mb-3 text-center">
    <button class="w-25 btn btn-lg btn-primary" type="submit">Sign in</button>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
</main>


    
  </body>