<main class="mainproductos">
       

 <header class="cabecera">
                <div class="logo">
                    <img src="./img/Logo 93x79.png" alt="logo banner web">
                </div>
            <nav class="navegacion">
                <a href="/" class="link">Inicio</a>
                <a href="/productos" class="link">Producto</a>
                <a href="/nosotros" class="link">Nosotros</a>
                <a href="/contacto" class="link">Contacto</a>
               
                <a href="/iniciarsecion" class="link">Configuración</a>
                </nav>
                </header>
                </main>

               
<div class="contenedor7">


<div class="container titlecontactos">
    <hr>
    <h1 class="title">
        Trabajando sin Base de Datos
    </h1>
    <hr>
</div>





</div>
